---
import { getEntry } from "astro:content";
import { getRenderedPost } from "../lib/posts";
import TagLinks from "./TagLinks.astro";

const { slug } = Astro.props;

interface Props {
  slug: string;
}

const post = await getEntry("posts", slug);
const { remarkPluginFrontmatter } = await getRenderedPost(slug);

if (post === undefined) {
  throw new Error(`Post not found: ${slug}`);
}
---

<div>
  <a href={`/posts/${slug}`}>
    {post.data.title}
  </a>
  <p>
    {post.data.description}
  </p>
  <span>
    {
      post.data.date.toLocaleDateString("en-UK", {
        day: "numeric",
        month: "long",
        year: "numeric",
      })
    }
  </span> - <span>{remarkPluginFrontmatter.readingTime}</span>
  <TagLinks tags={post.data.tags} />
</div>

<style>
  a {
    font-weight: bold;
  }

  div {
    color: var(--text-color-1);
    background-color: var(--bg-color-2);
    border-radius: 1em;
    box-shadow: 2px 3px 3px var(--shadow-color);
    padding: 1em;
  }
</style>
