---
import type { CollectionEntry } from "astro:content";
import TableOfContents from "../components/TableOfContents.astro";
import TagLinks from "../components/TagLinks.astro";
import { getRenderedPost } from "../lib/posts";
import { buildToc } from "../lib/table-of-contents";
import FullBleedLayout from "./FullBleedLayout.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await getRenderedPost(
  post.slug,
);
const frontmatter = post.data;
const toc = buildToc(headings, 0);
const readingTime = remarkPluginFrontmatter.readingTime;
---

{
  frontmatter.katex && (
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
      integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
      crossorigin="anonymous"
    />
  )
}

<FullBleedLayout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>
    Published on
    {
      frontmatter.date.toLocaleDateString(undefined, {
        day: "numeric",
        month: "long",
        year: "numeric",
      })
    } - {readingTime}
  </p>
  <TagLinks tags={frontmatter.tags} />
  <div class="toc">
    <TableOfContents toc={toc} />
  </div>
  <Content />
</FullBleedLayout>

<style>
  @media screen and (min-width: 2000px) {
    .toc {
      position: fixed;
      left: 1rem;
      overflow: scroll;
      top: 10vh;
      max-height: 80vh;
    }
  }

  .toc {
    display: inline-block;
    background-color: var(--bg-color-2);
    border-radius: 1em;
    padding-right: 1ch;
  }
</style>
