---
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";
import TableOfContents from "../components/TableOfContents.astro";
import TagLinks from "../components/TagLinks.astro";
import { buildToc } from "../lib/table-of-contents";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  frontmatter: CollectionEntry<"posts">["data"];
  readingTime: string;
  headings: MarkdownHeading[];
}

const { frontmatter, readingTime, headings } = Astro.props;
const toc = buildToc(headings, 0);
---

<BaseLayout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>{readingTime}</p>
  <p>Published on: {frontmatter.date.toString().slice(0, 10)}</p>
  <TagLinks tags={frontmatter.tags}/>
  <TableOfContents toc={toc}/>
  <slot />
</BaseLayout>
