---
import type { CollectionEntry } from "astro:content";
import TableOfContents from "../components/TableOfContents.astro";
import TagLinks from "../components/TagLinks.astro";
import { getRenderedPost } from "../lib/posts";
import { buildToc } from "../lib/table-of-contents";
import FullBleedLayout from "./FullBleedLayout.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await getRenderedPost(
  post.slug,
);
const frontmatter = post.data;
const toc = buildToc(headings, 0);
const readingTime = remarkPluginFrontmatter.readingTime;
---

{
  frontmatter.katex && (
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
      integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
      crossorigin="anonymous"
    />
  )
}

<FullBleedLayout title={frontmatter.title} description={post.data.description}>
  <h1>{frontmatter.title}</h1>
  <p>
    Published on
    {
      frontmatter.date.toLocaleDateString("en-UK", {
        day: "numeric",
        month: "long",
        year: "numeric",
      })
    } - {readingTime}
  </p>
  <TagLinks tags={frontmatter.tags} />
  <div class="toc">
    <TableOfContents toc={toc} />
  </div>
  <Content />
</FullBleedLayout>

<style>
  @media screen and not (min-width: calc(636px + (90ch))) {
    .toc {
      display: none;
    }
  }

  .toc {
    position: fixed;
    overflow: scroll;
    top: calc(1.5rem + 30px);
    left: calc((100vw - min(65ch, 100vw)) / 4);
    translate: -50%;
    max-width: 45ch;
    max-height: calc(100vh - 1.2rem - 40px);
  }
</style>
